.button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin: 4px;
}

.button{
    cursor: pointer;
}

.btn-blue{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-blue:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-green{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-green:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-red{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-red:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}