table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

table td{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

table tbody tr:hover{
    cursor: pointer;
    background-color: #EFEEEE;
}

table th{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-weight: normal;
    color: rgb(172, 172, 172);
}